.quizy {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.question {
  width: 80%;
  background: linear-gradient(#100241, black);
  border: 2px solid white;
  padding: 22px;
  border-radius: 12px;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.answer {
  width: 40%;
  padding: 11px;
  text-align: center;
  background: linear-gradient(#0e0123, #22074d);
  border: 2px solid white;
  border-radius: 14px;
  font-size: 20px;
  font-weight: 400;
  margin: 1rem;
}

.answer:hover,
.active {
  background: #020230;
  cursor: pointer;
}
.answer.correct {
  animation: correct 4s ease forwards;
}
.answer.incorrect {
  animation: incorrect 4s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  44% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0123, #22074d);
  }
  62%,
  100% {
    background: darkgreen;
  }
}
@keyframes incorrect {
  0%,
  22%,
  44% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0123, #22074d);
  }
  62%,
  100% {
    background: darkred;
  }
}
